Flask==2.0.1
Flask-Babel==2.0.0
Flask-MySQL==1.5.2
Flask-SQLAlchemy==2.5.1
Flask-Table==0.5.0
httplib2==0.9.2
hyperlink==17.3.1
PyMySQL==1.0.2
pytest==6.2.4
PyYAML==3.12
selenium==3.141.0
SQLAlchemy==1.4.19
urllib3==1.26.6
virtualenv==20.4.7

