{% extends 'base.html' %}

{% block body %}

<div class= "jumbotron p-3">
    <div class="well text-center">
        <h1> Anime Watchlist </h1>
        <br></br>
        <h3> Below you can see a table that contains different Genre IDs, Genre Types and Suggestions for Genres you could be interested in</h3>
        <br></br>
        <h3> Below that you can see your Watchlist, in which you can add Animes, remove Animes or update your current Animes</h3>
        <br></br>
        <h3>WARNING: When updating your Watchlist, be sure to input the Genre ID that corresponds to the Anime Genre of your entry!</h3>
      
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class= "jumbotron p-4">
                <table class="table table-hover table-dark">
                    <th>Genre ID</th>
                    <th>Anime Genre</th>
                    <th>Suggestions</th>
                    <tr>
                        <td>1</td>
                        <td>Action</td>
                        <td>If you like Action, try an Anime from Adventure</td>
                    </tr>>
                    <tr>
                        <td>2</td>
                        <td>Adventure</td>
                        <td>If you like Adventure, try an Anime from Action</td>
                    </tr>>

                    <tr>
                        <td>3</td>
                        <td>Comedy</td>
                        <td>If you like Comedy, try an Anime from Romance</td>
                    </tr>>

                    <tr>
                        <td>4</td>
                        <td>Drama</td>
                        <td>If you like Drama, try an Anime from Slice Of Life</td>
                    </tr>>

                    <tr>
                        <td>5</td>
                        <td>Slice of Life</td>
                        <td>If you like Slice of Life, try an Anime from Drama</td>
                    </tr>>

                    <tr>
                        <td>6</td>
                        <td>Fantasy</td>
                        <td>If you like Fantasy, try an Anime from Magic</td>
                    </tr>>

                    <tr>
                        <td>7</td>
                        <td>Magic</td>
                        <td> If you like Magic, try an Anime from Fantasy</td>
                    </tr>>

                    <tr>
                        <td>8</td>
                        <td>Supernatural</td>
                        <td>If you like Supernatural, try an Anime from Horror</td>
                    </tr>>

                    <tr>
                        <td>9</td>
                        <td>Horror</td>
                        <td>If you like Horror, try an Anime from Supernatural</td>
                    </tr>>

                    <tr>
                        <td>10</td>
                        <td>Mystery</td>
                        <td>If you like Mystery, try an Anime from Sci-Fi</td>
                    </tr>>

                    <tr>
                        <td>11</td>
                        <td>Psychological</td>
                        <td>If you like Psychological, try an Anime from Thriller</td>
                    </tr>>

                    <tr>
                        <td>12</td>
                        <td>Romance</td>
                        <td>If you like Romance, try an Anime from Comedy</td>
                    </tr>>

                    <tr>
                        <td>13</td>
                        <td>Sci-Fi</td>
                        <td>If you like Sci-Fi, try an Anime from Mystery</td>
                    </tr>>

                    <tr>
                        <td>14</td>
                        <td>Thriller</td>
                        <td>If you like Thriller, try an Anime from Psychological</td>
                    </tr>>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}